body {
  #root {
    //background: linear-gradient(#e66465, #9198e5);
    background-image: url("/assets/images/bg.jpg");
    background-size: cover;
    background-clip: content-box;
    height: 100vh;
  }

  .header-container {
    display: flex;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;

    .header-nav {
      button {
        text-decoration: none;
        color: white;
        line-height: 45px;
      }
    }
  }

  .header-contact {
    color: white;
    padding-top: 20px;
    float: right;
  }

  .scroll-top-btn {
    background-color: rgb(255, 0, 72) !important;
    bottom: 60px !important;
    fill: white !important;
    right: 20px !important;
  }

  .container {
    height: 100%;

    .bg {
      min-height: 100%;

      .policyContainer {
        .policyText {
          padding: 30px 60px;
          text-align: justify;
        }
      }
    }
  }

  .input-grp {
    border-right: .5px solid #949494;

    &:last-child {
      border-right: none;
    }
  }

  .result-text {
    width: 100%;
    color: #ffffff;
  }

  .card-item {
    margin: 0 14px 24px 13px;
    width: 250px;
  }

  .no-data-text {
    margin-top: 10vh;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #dcdcdc;
  }

  .footer {
    text-align: center;

    .copyright {
      text-align: center;
      padding-top: 16px;
      font-size: 11px;
    }
  }
}

.cookie-consent {
  align-items: center;
  background: rgb(53, 53, 53);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0;

  div {
    text-align: center;
    flex: 1 0 100px;
    margin: 15px;
  }

  a {
    color: #ff0048;

    &:hover {
      color: #ff0048;
    }
  }
}

//md
@media screen and (max-width: 1200px) {
  body {
    .card-item {
      margin: 0 30px 40px 30px;
      width: 250px;
    }

    .scroll-top-btn {
      bottom: 80px !important;
    }
  }

}

//sm
@media screen and (max-width: 991px) {
  body {
    .input-grp {
      border-right: .5px solid #949494;

      &:nth-child(2) {
        border-right: none;
      }

      &:last-child {
        border-right: none;
      }
    }
    .result-text {
      margin-top: 20px;
      width: 100%;
    }
    .no-data-text {
      margin-top: 3vh;
    }

    .card-item {
      margin: 0 30px 40px 48px;
      width: 250px;
    }
  }
  .cookie-consent {
    div {
      font-size: 14px;
    }
  }
}

//sm
@media screen and (max-width: 768px) {
  body {
    .input-grp {
      border-right: none;
    }
    .result-text {
      margin-top: 0;
      width: 100%;
      color: #4b4b4b;
    }
    .no-data-text {
      font-size: 28px;
    }
    .card-item {
      margin: auto;
      margin-bottom: 20px;
      width: 300px;
    }

    .scroll-top-btn {
      bottom: 100px !important;
    }
  }
  .cookie-consent {
    div {
      text-align: left;
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    .scroll-top-btn {
      right: 10px !important;
    }
  }
  .cookie-consent {
    div {
      font-size: 12px;
    }
  }

  .policyContainer {
    .policyText {
      padding: 10px 40px !important;
    }
  }
}
